@charset "utf-8";
/* CSS Document */

.navbar-nav,.form-group{
	height: 80px;
	padding-top: 20px;
}

.form-control{
	margin-top: 3px;
}


.navbar-brand img{
	width: 60px;
	height: 60px;
	border-radius: 30%;
	
}

.navbar-nav a{
	color: rgba(8,159,152,1.00) !important;
	font-size: 18px;
}

.nav{
	margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .nav{
	margin-left: 0px !important;
	}
	
	.navbar-nav{
		height: auto;
	}
	
	.navbar-toggle{
		background-color: #098B0B;
	}
	
	.icon-bar{
		border: #FFFFFF 1px solid;
	}
	
}

.places {
	display: flex;
}

.banner {
	height: 600px;
	width: 1030px;
}

.fav-places {
	color: darkorange;
	margin: -5px 10px;
}

hr {
	color: rgba(8,159,152,1.00);
	size: 5px;
	margin-top: -10px;
}

.item {
	display: flex;
	margin: 10px;
}

.picture {
	min-height: 100px;
	width: 100px;
	max-width: 100%;
  	height: auto;
}

.name {
	margin-left: 5px;
}

h1 {
	color: rgba(8,159,152,1.00);
	text-align: center;
	margin: 15px;
}

.fav-hotels {
	display: flex;
	justify-content: center;
}

.hotel {
	position: relative;
}

.hotel img {
	width: 450px;
	height: 450px;
	margin: 10px;
	max-width: 100%;
  	height: auto;
}

.hotel h3 {
	color: white;
	position: absolute;
	bottom: 5px;
	left: 90px;
}

h2 {
	color: rgba(8,159,152,1.00);
	text-align: center;
}

.table {
	width: 930px;
	margin-left: 120px;
}

th {
	color: #098B0B;
	text-align: center;
}

td {
	color: darkorange;
	text-align: center;
}

.footer {
	background-color: teal;
	color: white;
	text-align: center;
	padding: 10px;
}

